h1 {
    font-family:fantasy;
    color:white;
    font-weight: bold;
    font-size: 50px;
   background-color: blue;
   text-align: center;-
}

label {color: red;}

p {
    color: purple;
    font-size: 25px; ;
    background-color: orange;
}

