h1{
    margin:0;
    background-color:lightblue  ;
    color: lightpink;
    text-align: center;
    padding:25px;
    border: rgb(179, 255, 0) solid 10px;
    box-shadow: 6px 15px 20px black ;
    border-radius:25px;;
}

p{
    margin:0;
}