body{
    margin:0;
}

div{
    background-color: red;
    padding: 20px;
    text-align: center;
}

h1 {
    color: white; 
    border: white solid 4px;
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
}

p {
    background-color: blue;
    color: white;
}

span{
    background-color: green;
    color: white;
}